
@use '../utils/colors' as *;
@use '../utils//mixins';
.about {
    @apply relative;
    z-index: 15;
    width: 100vw;
    height: 100vh;
      .title {
        @include mixins.title('h1', '.underline');
        margin-top: 10rem;
        margin-bottom: 3.2rem;
      }
        .text {
            align-self: center;
            width: 45%;
        }
        .second_title {
            @include mixins.title('h2', '.underline');
            margin: 2rem 0;
        }
        .skills {
            width: 85%;
            align-self: center;
            @apply flex;
            @apply flex-wrap;
            .skill {
                margin: 1.2rem 0;
                background-color: $bar_background_color;
                display: flex;
                width: 49%;
                margin-left: 0.8rem;
                position: relative;
            span {
                align-self: flex-end;
                color: $bar_text_color;
            }
            .bar-fill {
                background-color: $bar_fill_color;
                max-width: 100%;
                transition:width 1s ease-in-out;
                .skill_name {
                    position: absolute;
                    top:-100%;
                    @apply text-center;
                    @apply font-bold;
                }
            }
            }
        }

 

}