@use '../utils/colors' as *;
@use '../utils/mixins';
.changePage {
    @apply fixed;
    width: 100%;
    height: 100%;
    z-index: 15;
    top: 0;
    left: 0;
    .topNav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 53px;
        background: #1B242F;
        ul {
            li {
                margin: 3px 5px;
            }
            .active {
                @apply text-pink;
            }
        }
        
    }
    .pageLoadBar {
        position: fixed;
        top: 0;
        height: 3px;
        width: 0;
        @apply bg-blue;
        @apply z-10;
    }
    .arrow-container{
        @apply absolute;
        @apply cursor-pointer;
        @apply pointer-events-auto;
        width: 9.5rem;
        height: 9.5rem;
        right: 0;
        top: 40%;
        span {
            @apply block;
            @apply absolute;
            top: 25%;
            right: 55%;
            width: 7.3rem;
            height: 3rem;
            overflow: hidden;
            span {
                @apply invisible;
                @apply uppercase;
                @apply absolute;
                @apply font-semibold;
                @apply text-xl;
                @apply text-right;
                right: 0;
                transform: translateX(80px);
                transition: transform .3s ease-in-out;
                color: $secondary;
    
            }
        }
        &::before {
                content: '';
                @include mixins.arrow;     
                transform: rotateZ(140deg) translateX(25px);    
                top: 39.14%;
                right: 25%;
                
                
            }
        &::after {
                content: '';
                @include mixins.arrow;
                transform: rotateZ(220deg) translateX(25px);
                top: 40.7%;
                right: 25%;
             
            
        }
        &:hover {
            span {
               span {
                   @apply visible;
                   transform: translateX(0);
                   transition: transform .3s ease-in-out;
                   color: $pink;
           
               }
            }
            &::before {
                transform: rotateZ(130deg) translateX(25px);
                background-color: $pink;
            }
            &::after {
                transform: rotateZ(230deg) translateX(25px);
                background-color: $pink;
            }
            @apply visible;
        }
       &.nextPageAnimate {
            span {
                span {
                    transition: transform 0.1s linear;
                    transform: translateX(118px);  
                }
            }
            &::before {
                transform: rotateZ(180deg) translateX(25px);
                background-color: $pink;
            }
            &::after {
                transform: rotateZ(180deg) translateX(25px);
                background-color: $pink;
        
            }
       }
    }
   .previousPage {
       left: 0;
       transform: translateX(-250px);
        span {
            left:71%;
            overflow: hidden;
            span {
                @apply text-left;
                transform: translateX(-70px);
                left: 0;
            }
        }
       &::before {
                transform: rotateZ(40deg) translateX(25px);       
        }
        &::after {
                transform: rotateZ(320deg) translateX(25px);
            
        }
        &:hover {
  
            &::before {
                transform: rotateZ(50deg) translateX(25px);
                background-color: $pink;
            }
            &::after {
                transform: rotateZ(310deg) translateX(25px);
                background-color: $pink;
            }

        }
        &.nextPageAnimate {
                span {
                    span {
                        transition: transform 0.1s linear;
                        transform: translateX(-118px);  
                    }
                }
                &::before {
                    transform: rotateZ(0deg) translateX(25px);
                    background-color: $pink;
                }
                &::after {
                    transform: rotateZ(360deg) translateX(25px);
                    background-color: $pink;
                }
        }
    }
}