@use '../utils/colors' as *;
.nextPage {
    @apply absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
    .topNav {
        position: fixed;
        top: 0;
        width: 100%;
        height: 53px;
        background: #1B242F;
        z-index: 10;
        ul {
            li {
                margin: 3px 5px;
            }
            .active {
                @apply text-pink;
            }
        }
        
    }
    .pageLoadBar {
        position: fixed;
        top: 0;
        height: 3px;
        width: 0;
        @apply bg-blue;
        @apply z-10;
    }
    .arrow-container{
        @apply absolute;
        width: 150px;
        height: 150px;
        right: 0;
        top: 40%;
        span {
            span {
                @apply invisible;
                @apply uppercase;
                @apply absolute;
                @apply font-semibold;
                @apply text-xl;
                right: 0;
                transform: translateX(80px);
                transition: transform .3s ease-in-out;
                color: $secondary;
    
            }
           @apply block;
           @apply absolute;
           top: 25%;
           right: 55%;
           width: 80px;
           height: 50px;
           overflow: hidden;
        }
        &::before {
                content: '';
                width: 50px;
                height: 4px;
                transform: rotateZ(140deg) translateX(25px);
                display: block;
              
                background-color: $secondary;
                position: absolute;
                top: 39.14%;
                right: 25%;
                transition: transform .2s ease-in-out; 
                
            }
        &::after {
                content: '';
                width: 50px;
                height: 4px;
                transform: rotateZ(220deg) translateX(25px);
                transition: transform .2s ease-in-out; 
                display: block;
                background-color: $secondary;
                position: absolute;
                top: 40.7%;
                right: 25%;
                &:hover {
                    width: 5px;
                }
            
        }
        &:hover {
            span {
               span {
                   @apply visible;
                   transform: translateX(0);
                   transition: transform .2s ease-in-out;
                   color: $pink;
           
               }
            }
            &::before {
                transform: rotateZ(130deg) translateX(25px);
                background-color: $pink;
            }
            &::after {
                transform: rotateZ(230deg) translateX(25px);
                background-color: $pink;
            }
            @apply visible;
        }
       &.changePage {
        span {
            span {
                transition: transform 0.1s linear;
                transform: translateX(80px);  
            }
        }
        &::before {
            transform: rotateZ(180deg) translateX(25px);
        }
        &::after {
            transform: rotateZ(180deg) translateX(25px);
            top: 38.7%;
        }
       }
    }
   
}