{
    "presets": [

        "@babel/preset-env"

    ],
    "ignore": [
        "./server/public",
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"], 
            "alias": {
                "@mixins": "./src/client/mixins",
                "@styles": "./src/client/styles",
                "@assets": "./src/client/assets",
                "@models": "./src/server/models",
                "@utils": "./src/client/utils",
                "@store": "./src/client/store",
                "@directives": "./src/client/directives",
                "@components": "./src/client/components",
                "@pages": "./src/client/pages",
                "@config": "./src/server/config",
                "@routes": "./src/server/routes",
                "@controllers": "./src/server/controllers",
                "@validators" : "./src/server/validators",
                "@middleware" : "./src/server/middleware"
            }}
        ],
        ["@babel/plugin-transform-runtime",
            {
              "regenerator": true
            }
          ]
    ]
}