{
    "presets": [

        "@babel/preset-env"

    ],
    "ignore": [
        "./public",
      ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"], 
            "alias": {
                "@mixins": "./client/mixins",
                "@styles": "./client/styles",
                "@models": "./server/models",
                "@utils": "./client/utils",
                "@store": "./client/store",
                "@directives": "./client/directives",
                "@components": "./client/components",
                "@pages": "./client/pages",
                "@config": "./server/config",
                "@routes": "./server/routes",
                "@controllers": "./server/controllers",
                "@validators" : "./server/validators",
                "@middleware" : "./server/middleware"
            }}
        ],
        ["@babel/plugin-transform-runtime",
            {
              "regenerator": true
            }
          ]
    ]
}