@use './colors' as *;
@mixin title($title_text_elem, $underline_elem) {
        align-self: center;   
        #{$title_text_elem} {
            @apply text-black;
            @apply text-4-5xl;
            @apply font-bold;
            width: fit-content;
            @apply text-pink;  
        }
        #{$underline_elem} {
            height: 3px;
            width: 105px;
            @apply bg-pink;
            margin: 0 auto;
        }
       
}
@mixin arrow {
    width: 50px;
    height: 4px;
    display: block;
    background-color: $secondary;
    position: absolute;
    transition: transform .2s ease-in-out; 
}